[Unit]
Description=TJU Practice Term Project. Cinema System.
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
Environment="CINEMA_DATABASE='Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME XE)));User Id=CINEMA_DBA;Password=tjdb;'"
ExecStart=dotnet run -lp pro --project /root/Backend/Cinema

[Install]
WantedBy=multi-user.target